<div class="main-forget-page ">
<div class="modal-dialog modal-sm custom-modal"> <!-- Use Bootstrap modal-sm and custom class for size -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forgot Password</h5>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Enter your email</label>
            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Enter email" required />
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
              <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</div>
              <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email address</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- verifyOTP -->