.main-container-update{
  height: 100vh;
  /* width: 100%; */
  background-color: #46698b; /* Light gray background color for a clean look */
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  min-height: 80vh; /* Use min-height for proper scrolling */
  padding: 20px; /* Add padding to avoid content sticking to edges */
  box-sizing: border-box; /* Ensure padding is included in height */
  overflow: auto; /* Allow scrolling if content overflows */
}

.container-style {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgb(236, 233, 233);
}

.form-input.is-invalid {
  border-color: #e3342f;
}

.text-danger {
  font-size: 12px;
  color: #e3342f;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:disabled {
  background-color: #467ca8;
  cursor: not-allowed;
}

.footer-text {
  text-align: center;
  margin-top: 30px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 576px) {
  .container-style {
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }
}
